<div class="jumbotron">
  <div class="container">
    <h1><%= number_with_delimiter(@tasks_total_count) %><small> tasks</small></h1>
    <p class="text-center"><small>completed this past week</small></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong><%= @tasks_approve_count %></strong> <a href="/approvals">approvals</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong><%= @tasks_review_count %></strong> <a href="/reviews">reviews</a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong><%= @tasks_translate_count %></strong> <a href="/translations">translations</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong><%= @tasks_subtitle_count %></strong> <a href="/">transcriptions</a>
      </div>
    </div>
  </div>
</div>
