<div class="jumbotron">
  <div class="container">
    <h1><%= number_with_delimiter(@tasks_total_count) %><small> tasks</small></h1>
    <p class="text-center"><small>completed this past week</small></p>
  </div>
</div>

<h4>Tasks by type</h4><br />

<script type="text/javascript">
var GRAPH_DATA = [<%= @tasks_approve_count %>, <%= @tasks_review_count %>, <%= @tasks_translate_count %>, <%= @tasks_subtitle_count %>];
</script>

<div class="row">
  <div class="col-md-12">
    <canvas width="1140" height="400px" id="mycanvas">
    </canvas>
  </div>
</div><br /><br />

<h4>View recent tasks</h4><br />

<div class="row">
  <div class="col-md-6">
    <a class="btn btn-info btn-lg btn-block" href="/approvals" role="button">Approvals</a>
    <a class="btn btn-info btn-lg btn-block" href="/reviews" role="button">Reviews</a>
  </div>

 <div class="col-md-6">
  <a class="btn btn-info btn-lg btn-block" href="/translations" role="button">Translations</a>
  <a class="btn btn-info btn-lg btn-block" href="/transcriptions" role="button">Transcriptions</a>
 </div>
</div>