<div class="page-header">
  <h1><%= number_with_delimiter(@member_joined_count) %> <small>members joined</small>
  </h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% page_num = @page.to_i %>
    <% per_page_num = @per_page.to_i %>
    <% @members_joined.each_with_index do |member, index| %>
        <tr>
            <td><%= index + 1 + (page_num - 1) * per_page_num %></td>
            <td><a href="http://amara.org/en/profiles/profile/<%=member["user"]%>/"><%= member["user"] %></a></td>
            <td><%= member["created"].to_time.strftime('%b %-d, %Y %H:%M %P %Z') %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members_joined %>
