<div class="page-header">
  <h1><%= number_with_delimiter(@member_left_count) %> <small>volunteers left</small>
  </h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% page_num = @page.to_i %>
    <% per_page_num = @per_page.to_i %>
    <% @members_left.each_with_index do |user, index| %>
        <tr>
            <td><%= index + 1 + (page_num - 1) * per_page_num %></td>
            <td><a href="http://amara.org/en/profiles/profile/<%= user['user'] %>/"><%= user['user'] %></a></td>
            <td><%= user['created'].to_time.strftime('%b %-d, %Y %H:%M %P %Z') %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @members_left %>